<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.walyex.forum.dao.PayOrderMapper">
    <resultMap id="BaseResultMap" type="pers.walyex.order.model.PayOrder">
        <id column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="pay_type" jdbcType="VARCHAR" property="payType"/>
        <result column="pay_state" jdbcType="CHAR" property="payState"/>
        <result column="trade_type" jdbcType="VARCHAR" property="tradeType"/>
        <result column="order_start_time" jdbcType="TIMESTAMP" property="orderStartTime"/>
        <result column="order_end_time" jdbcType="TIMESTAMP" property="orderEndTime"/>
        <result column="third_out_trade_no" jdbcType="VARCHAR" property="thirdOutTradeNo"/>
        <result column="fail_reason" jdbcType="VARCHAR" property="failReason"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    order_id, product_name, order_no, amount, pay_type, pay_state, trade_type, order_start_time, 
    order_end_time, third_out_trade_no, fail_reason, remark, create_by, create_time, 
    update_by, update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from pay_order
        where order_id = #{orderId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pay_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
    <insert id="insertSelective" parameterType="pers.walyex.order.model.PayOrder">
        insert into pay_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                order_id,
            </if>
            <if test="productName != null">
                product_name,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="payType != null">
                pay_type,
            </if>
            <if test="payState != null">
                pay_state,
            </if>
            <if test="tradeType != null">
                trade_type,
            </if>
            <if test="orderStartTime != null">
                order_start_time,
            </if>
            <if test="orderEndTime != null">
                order_end_time,
            </if>
            <if test="thirdOutTradeNo != null">
                third_out_trade_no,
            </if>
            <if test="failReason != null">
                fail_reason,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                #{orderId,jdbcType=INTEGER},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DECIMAL},
            </if>
            <if test="payType != null">
                #{payType,jdbcType=VARCHAR},
            </if>
            <if test="payState != null">
                #{payState,jdbcType=CHAR},
            </if>
            <if test="tradeType != null">
                #{tradeType,jdbcType=VARCHAR},
            </if>
            <if test="orderStartTime != null">
                #{orderStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderEndTime != null">
                #{orderEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="thirdOutTradeNo != null">
                #{thirdOutTradeNo,jdbcType=VARCHAR},
            </if>
            <if test="failReason != null">
                #{failReason,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="pers.walyex.order.model.PayOrder">
        update pay_order
        <set>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="payType != null">
                pay_type = #{payType,jdbcType=VARCHAR},
            </if>
            <if test="payState != null">
                pay_state = #{payState,jdbcType=CHAR},
            </if>
            <if test="tradeType != null">
                trade_type = #{tradeType,jdbcType=VARCHAR},
            </if>
            <if test="orderStartTime != null">
                order_start_time = #{orderStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="orderEndTime != null">
                order_end_time = #{orderEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="thirdOutTradeNo != null">
                third_out_trade_no = #{thirdOutTradeNo,jdbcType=VARCHAR},
            </if>
            <if test="failReason != null">
                fail_reason = #{failReason,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where order_id = #{orderId,jdbcType=INTEGER}
    </update>
</mapper>